MONGO_URI=mongodb+srv://cesarbarahona_db_user:M5Oz4MZOax5nuGUk@das.wktpnej.mongodb.net/das?retryWrites=true&w=majority
PORT=5001
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
JWT_SECRET=cambiar-este-secret-en-produccion
JWT_EXPIRES_IN=8h
